@page
@model Interrapidisimo_test.Web.Pages.ProjectDetails.IncompleteModel

@{
    ViewData["Title"] = "Incomplete To Do Items (Razor Page)";
}

<h2>Incomplete To Do Items (Razor Page)</h2>
<ul>
</ul>
